on:
  push:
    tags:
      - 'v*'
  workflow_dispatch:

permissions:
  contents: write

jobs:
  build-release:
    runs-on: windows-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v5
        with:
          enable-cache: true

      - name: Set up Python
        run: uv python install

      - name: Install dependencies
        run: uv sync --no-dev

      - name: Build with PyInstaller
        run: uv run pyinstaller --onefile --name charlotte main.py

      - name: Upload Artifact
        uses: actions/upload-artifact@v4
        with:
          name: charlotte
          path: dist/charlotte.exe

      - name: Release
        uses: softprops/action-gh-release@v2
        if: startsWith(github.ref, 'refs/tags/')
        with:
          files: dist/charlotte.exe
